[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
pywsse = "*"
requests = "*"
python-dateutil = "*"
pyyaml = "*"
six = "*"
confuse = "*"
bs4 = "*"
codepost = "==0.2.17"
enum34 = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
